body {
  width: 1024px;
  margin: 0 auto;
  overflow-x: hidden;
}

main {
  background: #D3D3D3;
}

p {
  margin: 0;
}

/* HEADER */

.header {
  height: 200px;
  background: #5F9EA0;
  color: #fff;
}

h1 {
  font-size: 36px;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-left: 15px;
  margin-bottom: 5px;
  margin: 0;

}

.header p {
  font-size: 24px;
  padding-left: 15px;
}


/* SECTION CONTACTS */

.contacts {
  padding-top: 20px;
  position: relative;
  top: -65px;
}

.contacts-content {
  display: flex;
  align-items: center;
  background: #fff;
  width: 870px;
  font-size: 20px;
}

.bio {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

.bio p {
  font-size: 30px;
  font-weight: 600;
}

.bio span {
  color: #5F9EA0;
}

.content-center {
  display: flex;
  justify-content: center;
}

.cv-foto {
  width: 250px;
  height: 250px;
}

.contact-list {
  list-style: none;
  margin: 0;
  padding: 0;

}

.social-networks {
  padding: 0;
  margin: 10px 0 0;
  display: inline-block;

}

.social-networks li {
  padding: 10px;
  margin: 0;
  cursor: pointer;
  display: inline-block;
}


.social-networks a {
  display: block;
  color: black;
  text-decoration: none;
}

.social-networks a:hover {
  color: #5F9EA0;
}

h3 {
  margin: 0;
  padding-bottom: 10px;
  color: #ccc;
}

/* SECTION TECHNICAL-SKILLS */

.technical-skills {
  padding-bottom: 20px;
}

.technical-skills-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  width: 790px;
  text-align: justify;
  padding: 40px;
  font-size: 20px;
}

/* SECTION CODE */

.content-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

pre {
  background: #fff;
  width: 790px;
  padding: 40px;
  font-size: 20px;
  margin: 0;
}

.code-example-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-list li {
  list-style-type: none;
}

/* SECTION  QUALIFICATION*/

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.qualifications-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qualifications-content p {
  font-size: 20px;
  background: #fff;
  width: 790px;
  text-align: justify;
  padding: 40px;
}

h2 {
  font-size: 20px;
  color: #5F9EA0;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
}

/* SECTION  EDUCATION*/

.education-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-content ul {
  font-size: 20px;
  background: #fff;
  width: 790px;
  text-align: justify;
  padding: 40px;
  margin: 0;
}

.education-content li {
  list-style-type: none;
}

/* SECTION  INFORMAL EDUCATION*/

.informal-education-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informal-education-content div {
  font-size: 20px;
  background: #fff;
  width: 790px;
  text-align: justify;
  padding: 40px;
}

/* SECTION   ENGLISH*/

.english {
  padding-top: 20px;
  padding-bottom: 30px;
}

.english-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.english-content p {
  font-size: 20px;
  background: #fff;
  width: 790px;
  text-align: justify;
  padding: 40px;
}

/* FOOTER */

.footer {
  background-color: #5F9EA0;
  height: 35px;
  padding-left: 15px;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}